/* style.css Document */

body {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
hr {
	hieght:1px;
}
#commandBar {
	margin-bottom: 3em;
}
#actionBox {
	float:left;
	width: auto;
}
#searchBox {
	float:right;
}
#container {
    margin: 10px auto;
    width: 90%;
    color: #333;
    background-color: #fff;
    border: 1px solid gray;
    line-height: 130%;
    }

#customerTable, #partTable, #chainChartTable {
	width: 100%;
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}

#customerTable th, #partTable th, #chainChartTable th {
	padding: 0 0.5em;
	text-align: center;
	}

#customerTable tr.yellow td , #partTable tr.yellow td, #chainChartTable tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

#customerTable td, #partTable td, #chainChartTable td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}
#customerTable td:first-child, #partTable td:first-child, #chainChartTable td:first-child {
	text-align: center;
	}
#customerTable td:second-child {
	width: 190px;
	}

#customerTable td+td ,#partTable td+td, #chainChartTable td+td {
	border-left: 1px solid #CCC;
	text-align: center;
	}

/* Maint */
#tableCustomerMaint	td:first-child, #tablePartMaint td:first-child {
	text-align:right;
}
#chainChartTable td:first-child + td{
	text-align: left;
}
/* Field Declaratives */
#search {
	color: #ccc;
}
#dbaName, #address, #email, #customerNumber, #city, #phone1, #cc1, #cc2 ,#notes, #partDesc, #partNumber, #size, #pitch, #msrp, #dealerCost, #importCost, #chainSelectedDesc , #productBrand {
	margin-left: 5px;
}
#dbaName, #address, #email ,#notes, #chainSelectedDesc {
	width: 97%;
}
#save, #cancel {
	width:100px;
	margin: 1em;
}

/* Dialogs */
#dialog-form, #dialog {
	display: none;
}